<h1>ORDER DETAILS</h1>
<hr>
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Order List</h3>
        </div>
        <% @order_items.each do |item|%>
          <%= form_with model: item, local: false do |f| %>
            <%= f.hidden_field :product_id, value: item.product_id%>
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <%= product_image(item.product)%>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="fw-normal text-dark m-0"><%= item.product.name %></p>
                    <p class="m-0"><%= item.product.serial_no%></p>
                    <p><%= item.product.description%></p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex flex-column p-2">
                    <%= f.number_field :quantity, value: item.quantity.to_i, min: 1 %>
                    <%= f.submit "Update Order" , class:"btn btn-primary" %>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 w-100">
                    <h5 class="mb-2">Unit: $<%= item.product.price_per_unit%></h5>
                    <h5 class="mb-0">Total: $<%= item.product.price_per_unit*item.quantity.to_i%></h5>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end mr-5">
                    <%= link_to "Remove", item, class:"btn btn-danger", method: :delete, remote: true %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
