<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Inventory System</h3>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Reports</a>
    </li>
    <li>
      <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
      <ul class="collapse list-unstyled" id="productSubmenu">
         <li>
         <a href="#">All Products</a>
        </li>
        <li>
          <a href="#">Add Product</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#brandSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Brands</a>
      <ul class="collapse list-unstyled" id="brandSubmenu">
        <li>
            <%= link_to t('add', param: 'Brand'), new_brand_path %>
        </li>
        <li>
          <%= link_to t('all', param: 'Brands'), brands_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#supplierSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Supplier</a>
      <ul class="collapse list-unstyled" id="supplierSubmenu">
        <li>
          <%= link_to t('add', param:'Category'), new_category_path %>
        </li>
        <li>
          <%= link_to t('all',param:'Categories'), categories_path %>
          <%= link_to t('add', title: 'Supplier'), new_supplier_path %>
        </li>
        <li>
          <%= link_to t('all', title: 'Supplier'), suppliers_path %>
        </li>
      </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <%=link_to 'Signout', destroy_user_session_path, method: :delete, class:'info-button' %>
      </li>
    </ul>
</nav>
