<%= form_with(model: @brand, validate: true) do |form| %>
  <%= render 'layouts/error_messages', messages: @brand.errors.full_messages %>
  <div class="form-group mb-2">
    <%= form.label :name, class: "d-block" %>
    <%= form.text_field :name, class: "form-control w-50" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :description, class: "d-block" %>
    <%= form.text_field :description, class: "form-control w-75" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :image, class: "d-block" %>
    <div class="w-25">
      <%= image_view(@brand) %>
    </div>
    <br/>
    <%= form.file_field :image, class: "d-block", id: "image-file" %>
    <br/>
    <p id="error-msg", class="text-danger" ></p>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-success mb-5" %>
  </div>
<% end %>
