<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <%= form_with(model: @brand, validate: true) do |form| %>
            <%= render 'layouts/error_messages', messages: @brand.errors.full_messages %>
            <div class="col-md-12">
              <%= form.label :name, class: "labels" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= form.label :description, class: "labels mt-4" %>
              <%= form.text_field :description, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= form.label :image, class: "labels mt-4" %>
              <div class="col-md-12 mt-2">
                <%= image_view(@brand) %>
              </div>
              <br/>
              <%= form.file_field :image, class: "d-block image-file", id: "image-file" %>
              <br/>
              <p id="error-msg", class="text-danger" ></p>
            </div>
            <div class="actions form-button mt-4 col-md-4">
              <%= form.submit class: "btn btn-success submit-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
