<h1><%= t('all', param: 'Brands') %></h1>
<% if @brands.present? %>
  <div class="container">
    <div class="row hidden-md-up">
      <% @brands.each do |brand| %>
        <div class="col-md-4">
          <div class="card m-3 rounded-2 card-width">
            <%= image_view(brand, ApplicationHelper::SHOW_IMAGE_SIZE) %>
            <hr class="m-0">
            <h5 class="card-title mx-3 mt-3"><%= brand.name %></h5>
            <div class="card-body d-flex flex-column justify-content-between">
              <p class="card-text"><%= brand.description %></p>
            </div>  
            <div>
              <%= link_to t('show-button'), brand, class: "btn btn-outline-primary" %>
              <%= link_to t('edit-button'), edit_brand_path(brand), class: "btn btn-outline-warning" %>
              <%= link_to t('delete-button'), brand, method: :delete, data: { confirm: t('confirmation_msg') }, class: "btn btn-outline-danger" %>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
<% end %>
<br>
<%= link_to t('add',param: 'Brand'), new_brands_path, class: "btn btn-dark btn-lg" %>
