<div class="jumbotron p-5 border-primary border rounded-2 w-100 ml-0 category-section">
  <div class="container d-flex flex-row justify-content-between">
    <div class="m-5 d-flex flex-column justify-content-between w-75 h-75" >
      <h1 class="text-black" ><b><%= @category.name %></b></h1>
      <p class="text-grey" ><%= @category.description %></p>
      <div class="my-3" >
      <%= link_to t('edit', param: 'Category'), edit_category_path(@category), class:"btn btn-outline-primary btn-lg" %>
      </div>
    </div>
    <div class="rounded overflow-hidden w-50 m-auto">
      <%= image_view( @category, ApplicationHelper::SHOW_IMAGE_SIZE ) %>
    </div>
  </div>
</div>
<%= link_to t('all',param: 'Categories'), categories_path, class:"btn btn-dark btn-lg m-3" %>
