<div class="jumbotron p-5 border rounded-2 ml-5 showproductdiv">
  <div class="container d-flex flex-row justify-content-between">
    <div class="rounded overflow-hidden show-image-width m-auto">
      <%= image_view(@category, ApplicationHelper::SHOW_IMAGE_SIZE) %>
    </div>
    <div class="m-5 d-flex flex-column" >
      <h2><b><%= t('name') %> <%= @category.name %></b></h2>
      <p class="text-grey"><%= t('description') %>: <%= @category.description %></p>
    </div>
  </div>
</div>
<div class="m-5">
  <%= link_to t('all',param: 'Categories'), categories_path, class: "btn btn-dark btn-lg" %>
  <%= link_to t('edit-button', param: 'Category'), edit_category_path(@category), class: "btn btn-primary btn-lg ml-2" %>
</div>
