<div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>New Product</h3>
            <p>Fill in the data below.</p>
            <%= form_with(model: product) do |form| %>
              <%= render "layouts/error_messages", messages: product %>
               <div class="col-md-12">
                 <%= form.text_field :serial_no, class:"form-control", placeholder:"Enter Serial Number" %>
               </div>
              <div class="col-md-12">
                <%= form.text_field :name, class:"form-control", placeholder:"Enter Product Name" %>
              </div>
              <div class="col-md-12">
                <%= form.file_field :image,class:"image-field"%>
              </div>
              <div class="col-md-12">
                <%= form.text_field :description, class:"form-control", placeholder:"Enter Product Description" %>
              </div>
              <div class="col-md-12">
                <%= form.number_field :quantity, class:"form-control", placeholder:"Enter Product Quantity" %>
              </div>
              <div class="col-md-12">
                <%= form.number_field :price_per_unit, class:"form-control", placeholder:"Enter price per unit" %>
              </div>
               <div class="col-md-12">
                 <%= form.select :category_ids, options_for_select(Category.all.map{|c|[c.id, c.name]}), {include_blank: false}, multiple: true, class: "select2 form-control" %>
              </div>
              <div class="col-md-12">
                <%= form.number_field :retail_price, class:"form-control", placeholder:"Enter Retail Price" %>
              </div>
              <div class="col-md-12">
                <%= form.select :supplier_ids, options_for_select(Supplier.all.map{|s|[s.id, s.name]}), {include_blank: true}, multiple: true, class: "select2 form-control"%>
              </div>
              <div class="col-md-12">
                <%= form.number_field :bulk_price, class:"form-control", placeholder:"Enter Bulk Price" %>
              </div>
              <div class="col-md-12">
                <%= form.select :brand_id, Brand.all.collect { |p| [ p.name, p.id ] },:prompt => 'Select Brand', required: true, class: 'form-control select-tag'  %>
              </div>
              <div class="form-button mt-3 col-md-4">
                <%= form.submit class: "btn btn-primary submit-button" %>
              </div>
            <%end%>
         </div>
       </div>
     </div>
   </div>
</div>

<script>

</script>