<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <%= form_with(model: product) do |form| %>
            <div class="col-md-12">
              <%= form.label :name, class: "labels" %>
              <%= form.text_field :name, class:"form-control", placeholder: true  %>
            </div>
            <div class="col-md-12">
              <%= form.label :description, class: "labels mt-4" %>
              <%= form.text_field :description, class: "form-control", placeholder: true %>
            </div>
            <div class="col-md-12">
              <%= form.label :quantity, class: "labels mt-4" %>
              <%= form.number_field :quantity, class: "form-control", placeholder: true  %>
            </div>
            <div class="col-md-12">
              <%= form.label :price_per_unit, class: "labels mt-4" %>
              <%= form.number_field :price_per_unit, class: "form-control", placeholder: true  %>
            </div>
            <div class="col-md-12 selection">
              <%= form.select :category_ids, options_for_select(categories), { include_blank: true }, multiple: true, class: "select2 form-control" %>
            </div>
            <div class="col-md-12">
              <%= form.label :retail_price, class: "labels mt-4" %>
              <%= form.number_field :retail_price, class:"form-control", placeholder: true %>
            </div>
            <div class="col-md-12 selection">
              <%= form.select :supplier_ids, options_for_select(suppliers), { include_blank: true }, multiple: true, class: "select2 form-control mt-4" %>
            </div>
            <div class="col-md-12 mt-2">
              <%= form.select :brand_id, brands, prompt: 'Select Brand', required: true, class: "form-control select-tag" %>
            </div>
            <div class="col-md-12 mt-2">
              <div class="w-25">
                <%= image_view(product) %>
              </div>
              <%= form.file_field :image, class: "d-block image-file" %>
            </div>
            <div class="form-button mt-4 col-md-4">
              <%= form.submit class: "btn btn-primary submit-button" %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>