<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <%= form_with(model: @supplier, validate: true) do |form| %>
            <%= render 'layouts/error_messages', messages: @supplier.errors.full_messages %>
            <div class="form-group mb-2">
              <%= form.label :name, class: "labels" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group mb-2">
              <%= form.label :supplier_address, class: "labels mt-4" %>
              <%= form.text_field :supplier_address, class: "form-control" %>
            </div>
            <div class="form-group mb-2">
              <%= form.label :phone_no, class: "labels mt-4" %>
              <%= form.text_field :phone_no, class: "form-control" %>
            </div>
            <div class="form-group mb-2">
              <%= form.label :image, class: "labels mt-4" %>
              <div class="100">
                <%= image_view(@supplier) %>
              </div>
              <%= form.file_field :image, class: "d-block image-file", id: 'image-file', validate: check_validation(@supplier) %>
              <br/>
              <p id="error-msg", class="text-danger" ></p>
            </div>
            <div class="actions form-button mt-4 col-md-4">
              <%= form.submit class: "btn btn-success submit-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
