<h1><%= t('all', param: 'Suppliers') %></h1>
<% if @suppliers.present? %>
  <div class="container">
    <div class="row hidden-md-up">
      <% @suppliers.each do |supplier| %>
        <div class="col-md-4">
          <div class="card m-3 rounded-2 card-width">
            <%= image_view(supplier, ApplicationHelper::SHOW_IMAGE_SIZE) %>
            <hr class="m-0">
            <div class="d-flex flex-column justify-content-start image-content-start">
              <h5 class="mx-3 mt-3"><%= t('name') %><%= supplier.name %></h5>
              <h5 class="mx-3"><%= t('phone') %><%= supplier.phone_no %></h5>
            </div>
            <div class="ml-3 mb-4 d-flex flex-column justify-content-between">
              <p class="card-text mr-2 w-100 h-100"><%= t('address') %> <%= supplier.supplier_address %></p>
            </div>
            <div class="d-flex flex-row m-2 p-2">
              <%= link_to t('show-button'), supplier, class: "btn btn-outline-primary m-1" %>
              <%= link_to t('edit-button'), edit_supplier_path(supplier), class: "btn btn-outline-warning m-1" %>
              <%= link_to t('delete-button'), supplier, method: :delete, data: { confirm: t('confirmation_msg') }, class: "btn btn-outline-danger m-1" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render "shared/pagination", object: @suppliers %>
<br>
<%= link_to t('add',param: 'Supplier'), new_supplier_path, class: "btn btn-dark btn-lg" %>
