<div class="jumbotron p-5 border rounded-2 ml-5 showproductdiv">
  <div class="container d-flex flex-row justify-content-between">
    <div class="rounded overflow-hidden show-image-width m-auto">
      <%= image_view(@supplier, ApplicationHelper::SHOW_IMAGE_SIZE) %>
    </div>
    <div class="m-5 d-flex flex-column" >
      <h2 class="text-black" ><b><%= t('name') %> <%= @supplier.name %></b></h2>
      <h5 class="text-black" ><b><%= t('phone') %><%= @supplier.phone_no %></b></h5>
      <p class="text-grey" ><b><%= t('address') %></b><%= @supplier.supplier_address %></p>
    </div>
  </div>
</div>
<div class="m-5">
  <%= link_to t('list', param: 'Suppliers'), suppliers_path, class: "btn btn-dark btn-lg" %>
  <%= link_to t('edit-button'), edit_supplier_path(@supplier), class: "btn btn-primary btn-lg ml-2" %>
</div>
